<a href="https://colab.research.google.com/github/Sonia1895/AA/blob/main/Tarea_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tarea 2
**Bases de datos seleccionada:**

**[Encuensta Nacional de Inclusión Financiera (ENIF)](https://www.inegi.org.mx/datosabiertos/)**



> La Comisión Nacional Bancaria y de Valores (CNBV), en colaboración con el Instituto Nacional de Estadística y Geografía (INEGI), realizaron la Encuesta Nacional de Inclusión Financiera (ENIF) 2024. Su objetivo es generar información estadística e indicadores oficiales a nivel nacional que permitan a las autoridades financieras hacer diagnósticos, diseñar políticas públicas y establecer metas en materia de inclusión y educación financieras. Asimismo, incorporar cambios y actualizaciones para dar atención a nuevos requerimientos de información y consideraciones en la Política Nacional de Inclusión Financiera (PNIF).

In [ ]:
import pandas as pd
import numpy as np

# Cambiar la opción global para desactivar la notación científica
pd.set_option('display.float_format', '{:.2f}'.format)

#Cargar información de base de datos ENIF
df_enif = pd.read_csv('/content/drive/MyDrive/MCD/AA/conjunto_de_datos_enif_2024/conjunto_de_datos_tmodulo_enif_2024/conjunto_de_datos/conjunto_de_datos_tmodulo_enif2024.csv', sep = ',')

display('Muestras los primeros 10 registros: \n', df_enif.head(10)) #Mostrar 10 registros cargados
print('----------------'*5)
display('Muestras los ultimos 10 registros: \n', df_enif.tail(10)) #Mostrar ultimos10 registros cargados

'Muestras los primeros 10 registros: \n'

,llavemod,llaveviv,llavehog,edad_v,niv,gra,p3_1a,p3_2,p3_3,p3_4,...,folio,viv_sel,hogar,n_ren,sexo,tloc,region,est_dis,upm_dis,fac_per
0,101101,101,1011,38,8,4,2,5,2,2,...,1,1,1,1,1,1,1,17,196,1233
1,210101,210,2101,36,8,5,2,2,2,2,...,2,10,1,1,1,3,6,179,2088,1763
2,303102,303,3031,20,3,3,2,6,2,2,...,3,3,1,2,1,1,4,50,763,903
3,401101,401,4011,59,3,3,2,4,2,2,...,4,1,1,1,1,1,1,17,182,720
4,503101,503,5031,37,6,3,2,5,2,2,...,5,3,1,1,2,1,4,49,631,8114
5,603102,603,6031,53,3,3,1,5,2,2,...,6,3,1,2,2,1,6,40,459,18682
6,704101,704,7041,40,2,6,2,1,2,2,...,7,4,1,1,1,4,6,111,1380,7631
7,803102,803,8031,24,8,2,2,1,2,2,...,8,3,1,2,2,2,2,135,1585,3677
8,904102,904,9041,41,3,3,2,5,2,2,...,9,4,1,2,2,1,2,107,1297,10242
9,1004101,1004,10041,37,3,3,2,5,2,2,...,10,4,1,1,1,1,1,11,136,5241

--------------------------------------------------------------------------------

'Muestras los ultimos 10 registros: \n'

,llavemod,llaveviv,llavehog,edad_v,niv,gra,p3_1a,p3_2,p3_3,p3_4,...,folio,viv_sel,hogar,n_ren,sexo,tloc,region,est_dis,upm_dis,fac_per
13492,1329404102,1329404,13294041,30,7,2,2,6,2,2,...,13294,4,1,2,1,1,6,156,1826,4285
13493,1329503101,1329503,13295031,29,8,5,2,6,2,2,...,13295,3,1,1,2,1,2,108,1365,2718
13494,1329606101,1329606,13296061,38,3,3,2,1,2,2,...,13296,6,1,1,1,2,2,105,1251,5450
13495,1329707102,1329707,13297071,24,6,3,2,1,2,2,...,13297,7,1,2,2,4,1,52,770,2875
13496,1329801104,1329801,13298011,21,6,3,2,6,2,2,...,13298,1,1,4,1,1,3,78,979,34316
13497,1329910101,1329910,13299101,27,3,3,2,6,2,2,...,13299,10,1,1,1,4,5,70,931,3907
13498,1330005102,1330005,13300051,28,3,3,9,5,2,2,...,13300,5,1,2,2,1,1,150,1743,5371
13499,1330105101,1330105,13301051,34,7,2,2,1,2,2,...,13301,5,1,1,2,1,6,134,1581,2180
13500,1330217103,1330217,13302171,20,8,3,2,6,2,1,...,13302,17,1,3,2,4,1,149,1740,6605
13501,1330319102,1330319,13303191,37,3,2,2,1,2,2,...,13303,19,1,2,2,4,6,112,1386,7410

In [ ]:
#Tipo de objeto creado
display(type(df_enif))

#Tamaño del dataframe
print('Tamaño del dataframe: \n', df_enif.shape)

pandas.core.frame.DataFrame

Tamaño del dataframe:
 (13502, 398)

In [ ]:
#Describir TODAS las columnas, incluyen columnas de texto
resumen_df = df_enif.describe(include = 'all')
display(resumen_df.T) #Transponer el resumen

,count,mean,std,min,25%,50%,75%,max
llavemod,13502.00,665531639.69,384334701.93,101101.00,332639601.00,666052102.00,998479601.25,1330319102.00
llaveviv,13502.00,665531.54,384334.70,101.00,332639.50,666052.00,998479.50,1330319.00
llavehog,13502.00,6655316.38,3843347.02,1011.00,3326396.00,6660521.00,9984796.00,13303191.00
edad_v,13502.00,44.83,17.03,18.00,31.00,43.00,57.00,98.00
niv,13502.00,4.71,3.15,0.00,3.00,3.00,7.00,99.00
...,...,...,...,...,...,...,...,...
tloc,13502.00,2.04,1.23,1.00,1.00,1.00,3.00,4.00
region,13502.00,3.46,1.79,1.00,2.00,3.00,5.00,6.00
est_dis,13502.00,92.30,53.64,1.00,48.00,91.00,139.00,190.00
upm_dis,13502.00,1114.09,621.03,1.00,579.00,1121.50,1638.75,2172.00
fac_per,13502.00,6978.33,7633.41,126.00,2700.25,4721.00,8358.75,106896.00

In [ ]:
#Crear, modificar y eliminar columnas

#Antes de crear, modificar y eliminar columnas, vamos a crear una copia del df original

df_enif_copy = df_enif.copy()
print('Tamaño del dataframe copia: \n', df_enif_copy.shape)
display(df_enif_copy)

##Modificiacion de columnas nulas
res_columnas_nulas = (df_enif.isnull().sum())

# Filtrar las columnas que tienen valores nulos
columnas_con_nulos = res_columnas_nulas[res_columnas_nulas > 0]

print('Columnas nulas:')
display(columnas_con_nulos)

#Modificar los valores nulos

#Crear nueva columna para el sexo (genero)
df_enif_copy['genero'] = df_enif_copy['sexo'].copy()

Tamaño del dataframe copia:
 (13502, 398)

,llavemod,llaveviv,llavehog,edad_v,niv,gra,p3_1a,p3_2,p3_3,p3_4,...,folio,viv_sel,hogar,n_ren,sexo,tloc,region,est_dis,upm_dis,fac_per
0,101101,101,1011,38,8,4,2,5,2,2,...,1,1,1,1,1,1,1,17,196,1233
1,210101,210,2101,36,8,5,2,2,2,2,...,2,10,1,1,1,3,6,179,2088,1763
2,303102,303,3031,20,3,3,2,6,2,2,...,3,3,1,2,1,1,4,50,763,903
3,401101,401,4011,59,3,3,2,4,2,2,...,4,1,1,1,1,1,1,17,182,720
4,503101,503,5031,37,6,3,2,5,2,2,...,5,3,1,1,2,1,4,49,631,8114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13497,1329910101,1329910,13299101,27,3,3,2,6,2,2,...,13299,10,1,1,1,4,5,70,931,3907
13498,1330005102,1330005,13300051,28,3,3,9,5,2,2,...,13300,5,1,2,2,1,1,150,1743,5371
13499,1330105101,1330105,13301051,34,7,2,2,1,2,2,...,13301,5,1,1,2,1,6,134,1581,2180
13500,1330217103,1330217,13302171,20,8,3,2,6,2,1,...,13302,17,1,3,2,4,1,149,1740,6605
13501,1330319102,1330319,13303191,37,3,2,2,1,2,2,...,13303,19,1,2,2,4,6,112,1386,7410

Columnas nulas:

p3_7        9697
p3_9        9100
p3_10       3726
p3_11a      4134
p3_11b      4706
           ...
p13_4_1     8188
p13_3_2     9264
p13_4_2     9264
p13_3_3    12060
p13_4_3    12060
Length: 259, dtype: int64